<ion-view view-title="PANCHKULA ECO CITY">
    <ion-content style="background:url('img/home_bg.png'); background-position: center;background-size:100%"  class="catHead">
	<div class="mywrapper">
		<div class="firstsection">
			<h3>Find Your Type Of Properties</h3>
			<div class="mytabbox">
				<a class="mytab" ui-sref="app.abouttheproject">About The Project</a>
				<a class="mytab" ui-sref="app.panchkulaextension">Panchkula  Extension</a>
				<a class="mytab"  ui-sref="app.whatweareoffering">What Are We Offering</a>
				<a class="mytab" >Why Us?</a>
			</div>
		</div>
   </div>
    </ion-content>
</ion-view>
