<ion-view view-title="PANCHKULA EXTENSION">
    <ion-content style="background:url('img/home_bg.png'); background-position: center;"  class="catHead">
	<div style="float:left; width:100%; heigth:100%; position:relative;">
		<div style="float:left;width:100%;position:absolute;top:20% !important;">
			<h3>PANCHKULA EXTENSION</h3>
			<div class="mytabbox">
				<a class="mytab" ui-sref="app.abouttheproject">About The Project</a>
				<a class="mytab" ui-sref="app.panchkulaextension">Panchkula  Extension</a>
				<a class="mytab"  ui-sref="app.whatweareoffering">What Are We Offering</a>
				<a class="mytab" >Why Us?</a>
			</div>
		</div>
		<div class="marquee_main" style="position:absolute; bottom:0px; left:0px; width:100%">
			<p class="microsoft marquee">APPROVED BY HARYANA GOVT. TOWN AND COUNTRY PLANNING DEPARTMENT, VIDE LICENSE NO. 46/12.05.12</p>
	   </div>
   </div>
    </ion-content>
</ion-view>
