<ion-view view-title="IDYLLIC GROUP">
  <ion-content clas="idlicGroup" ng-controller="ResidentialCtrl">
   <h1 style="text-align: center;">RESIDENTIAL PROPERTIES</h1>
    <div class="card aboutus">
    	<div class="row">
			<div class="col">LIST OF PLOTS</div>
		</div>
		<div class="row">
		  <div class="col">Sr No.</div>
		  <div class="col">Sizes in Sq. Yards</div>
		  <div class="col">Total</div>
		</div>
		<div class="row">
		  <div class="col">1</div>
		  <div class="col">1000</div>
		  <div class="col">17</div>
		</div>
		<div class="row">
		  <div class="col">2</div>
		  <div class="col">500</div>
		  <div class="col">40</div>
		</div>
		<div class="row">
		  <div class="col">3</div>
		  <div class="col">347</div>
		  <div class="col">49</div>
		</div>
		<div class="row">
		  <div class="col">4</div>
		  <div class="col">269</div>
		  <div class="col">14</div>
		</div>
		<div class="row">
		  <div class="col">5</div>
		  <div class="col">237</div>
		  <div class="col">119</div>
		</div>
		<div class="row">
		  <div class="col">6</div>
		  <div class="col">184.74</div>
		  <div class="col">119</div>
		</div>
		<div class="row">
		  <div class="col .col75">Total</div>
		  <div class="col">358</div>
		</div>
        <!-- <p style="padding: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p style="padding: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>-->
    </div>
  </ion-content>
</ion-view>