<ion-view view-title="What We Are Offering">
  <ion-content class="whatweareoffering" ng-controller="WhatAreWeOffringCtrl">
  <div class="list" style="width:100%; height:100%;">
	 <a ui-sref="app.commercialproperties">
    <div class="card" style="position:relative; float:left; width:100%; z-index:99; height:49%">
		<div class="banner_text" style="">
			<h2>COMMERCIAL PROPERTIES</h2>
		</div>
		<img src="img/commercial_bg.png"  style="opacity: 1;" />
	</div>
    </a>
    <a ui-sref="app.residentialproperties">
	<div class="card" style="position:relative; float:left; width:100%; z-index:99;height:51%">
		<div class="banner_text" style="">
			<h2>RESIDENTIAL PROPERTIES</h2>
		</div>
		<img src="img/residential_bg.png" style="opacity: 1;" />
	</div>
    </a>
  </div>
  </ion-content>
</ion-view>